/* Colors */
$red: #BA2D2D;
$orange: #DE6615;
$yellow: #EFC20F;
$green: #36B23C;

/* Images */
$icon-inc: '../images/bulb_inc.svg';
$icon-hal: '../images/bulb_hal.svg';
$icon-cfl: '../images/bulb_cfl.svg';
$icon-led: '../images/bulb_led.svg';