@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);
@import "variables";

@mixin bulbSection($image, $color: #444) {
  float: left;
  width: 25%;

  padding-top: 110px;

  background-image: url($image);
  background-color: $color;
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 63px 125px;
}

lightbulb-app > div:first-of-type {
  margin: 0 auto;
  width: 800px;

  color: #FFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  & section {

    div {
      background-color: rgba(0, 0, 0, .15);
      padding: 10px 0px 20px 0px;
      margin-top: 20px;

    h4 {
      margin: 0 0 5px 0;

      font-family: "Open Sans Condensed", sans-serif;
      font-size: .8em;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    > p {
      margin: 0;
      font-size: 1.5em;
      font-weight: 700;

      &:after {
        content: "w";
      }

      &:last-child {
        font-size: 1em;
        font-weight: 300;

        &:before {
          content: "$";
        }

        &:after {
          content: " per year";
          color: rgba(255, 255, 255, .5);
        }
      }
    }
  }

  &#inc { @include bulbSection($icon-inc, $red); }
  &#hal { @include bulbSection($icon-hal, $orange); }
  &#cfl { @include bulbSection($icon-cfl, $yellow); }
  &#led { @include bulbSection($icon-led, $green); }

  }

}

form > div {
  float: left;
  width: 33.33%;
  height: 85px;

  padding: 20px 0px;

  color: rgba($formText, .7);
  background-color: $formBkgnd;

  h4 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 -5px 0;
  }

  > p {
    margin: 0;
    margin-bottom: 5px;
    color: rgba($formText, .5);
    font-size: .8em;

    br {
      display: none;
    }
  }

  input[type=number] {
    width: 50px;
    font-size: 1em;
    text-align: center;
  }

  select {
    font-size: 1em;

    padding: 3px 30px 3px 5px;

    background: #FFFFFF url(../images/icons_arrows.svg) no-repeat right 6px;
    background-size: 30px 20px;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
  }

}

